.btn{
    &,
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3rem;
      border-radius: 10rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
    font-size: 1.5rem; }

    // outline
    border: none;
    cursor: pointer;
    
    &--white {
      background-color: $white_color;
      color: $dark_gray_color; 
  
      &::after {
          background-color: $white_color; }}
    &--pagecolor {
      background-color: $color_primary;
      color: $white_color; 
  
      &::after {
          background-color: $color_primary; }}
    
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($black_color, 0.281);
  
      &::after {
          transform: scale(1.5);
          opacity: 0; }
  }
    
    &:active,
    &:focus {
      outline: none;
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($black_color, 0.281); }
    
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
    
    &--animated {
      animation: moveInBottom .5s ease-out .7s;
      animation-fill-mode: backwards; }
    }
.btn-text{
    &:link,
    &:visited{
      font-size: 1.6rem;
      color: $color_primary;
      display: inline-block;
      text-decoration: none;
      border-bottom: 1px solid $color_primary;
      padding: 3px;
      transition: all .2s;
    }
    &:hover{
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($black_color, 0.281);
      background-color: $color_primary;
      color: $white_color;
      border-radius: 100px;
    }
    &:active{
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($black_color, 0.281); 
    }
}