.btn{
    &:link,
    &:visited {
      text-transform: uppercase;
      text-decoration: none;
      padding: 1.5rem 3rem;
      border-radius: 10rem;
      display: inline-block;
      transition: all .2s;
      position: relative;
    font-size: 1.5rem; }
    
    &--white {
      background-color: $white_color;
      color: $dark_gray_color; 
  
      &::after {
          background-color: $white_color; }}
    
    &:hover {
      transform: translateY(-.3rem);
      box-shadow: 0 1rem 2rem rgba($black_color, 0.281);
  
      &::after {
          transform: scale(1.5);
          opacity: 0; }
  }
    
    &:active {
      transform: translateY(-.1rem);
      box-shadow: 0 .5rem 1rem rgba($black_color, 0.281); }
    
    &::after {
      content: "";
      display: inline-block;
      height: 100%;
      width: 100%;
      border-radius: 10rem;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: all .4s; }
    
    &--animated {
      animation: moveInBottom .5s ease-out .7s;
      animation-fill-mode: backwards; }
    }
.btn-text{
  
}