
//COLORS
$color_primary: #8e0e00;
$color_primary-blend: #1f1c18;
$dark_gray_color:#777;
$light-grey-color1: #f7f7f7;
$white_color:#fff;
$black_color:#000;

//GRIDS
$grid-width: 114rem;
$spacing-vertical: 8rem;
$spacing-vertical-small: 6rem;

$spacing-horizontal: 6rem;